[Desktop Entry]
Name=Closer
Name[ast]=Closer
Name[bg]=Closer
Name[bs]=Closer
Name[ca]=Closer
Name[ca@valencia]=Closer
Name[cs]=Closer
Name[da]=Closer
Name[de]=Closer
Name[el]=Closer
Name[en_GB]=Closer
Name[eo]=Closer
Name[es]=Closer
Name[et]=Closer
Name[fi]=Closer
Name[fr]=Closer
Name[ga]=Closer
Name[gl]=Closer
Name[hu]=Closer
Name[it]=Closer
Name[ja]=Closer
Name[kk]=Closer
Name[km]=Closer
Name[ko]=Closer
Name[lt]=Closer
Name[lv]=Closer
Name[nb]=Closer
Name[nds]=Closer
Name[nl]=Closer
Name[nn]=Closer
Name[pa]=Closer
Name[pl]=Closer
Name[pt]=Closer
Name[pt_BR]=Closer
Name[ro]=Closer
Name[ru]=Closer
Name[sk]=Closer
Name[sl]=Closer
Name[sq]=Closer
Name[sr]=Closer
Name[sr@ijekavian]=Closer
Name[sr@ijekavianlatin]=Closer
Name[sr@latin]=Closer
Name[sv]=Closer
Name[tr]=Closer
Name[ug]=Closer
Name[uk]=Closer
Name[x-test]=xxCloserxx
Name[zh_CN]=Closer
Name[zh_TW]=Closer
Comment=Closes all applications on current desktop.
Comment[ast]=Closes all applications on current desktop.
Comment[bs]=Closes all applications on current desktop.
Comment[ca]=Closes all applications on current desktop.
Comment[ca@valencia]=Closes all applications on current desktop.
Comment[cs]=Ukončí všechny aplikace na aktuální ploše.
Comment[da]=Closes all applications on current desktop.
Comment[de]=Closes all applications on current desktop.
Comment[el]=Closes all applications on current desktop.
Comment[en_GB]=Closes all applications on current desktop.
Comment[eo]=Closes all applications on current desktop.
Comment[es]=Closes all applications on current desktop.
Comment[et]=Closes all applications on current desktop.
Comment[fi]=Closes all applications on current desktop.
Comment[fr]=Closes all applications on current desktop.
Comment[ga]=Closes all applications on current desktop.
Comment[gl]=Closes all applications on current desktop.
Comment[hu]=Closes all applications on current desktop.
Comment[it]=Closes all applications on current desktop.
Comment[ja]=Closes all applications on current desktop.
Comment[kk]=Closes all applications on current desktop.
Comment[km]=Closes all applications on current desktop.
Comment[ko]=Closes all applications on current desktop.
Comment[lt]=Closes all applications on current desktop.
Comment[lv]=Closes all applications on current desktop.
Comment[nb]=Closes all applications on current desktop.
Comment[nds]=Closes all applications on current desktop.
Comment[nl]=Closes all applications on current desktop.
Comment[nn]=Closes all applications on current desktop.
Comment[pa]=Closes all applications on current desktop.
Comment[pl]=Closes all applications on current desktop.
Comment[pt]=Closes all applications on current desktop.
Comment[pt_BR]=Closes all applications on current desktop.
Comment[ro]=Closes all applications on current desktop.
Comment[ru]=Closes all applications on current desktop.
Comment[sk]=Ukončí všetky aplikácie na aktuálnej ploche.
Comment[sl]=Closes all applications on current desktop.
Comment[sq]=Closes all applications on current desktop.
Comment[sr]=Closes all applications on current desktop.
Comment[sr@ijekavian]=Closes all applications on current desktop.
Comment[sr@ijekavianlatin]=Closes all applications on current desktop.
Comment[sr@latin]=Closes all applications on current desktop.
Comment[sv]=Closes all applications on current desktop.
Comment[tr]=Closes all applications on current desktop.
Comment[uk]=Closes all applications on current desktop.
Comment[x-test]=xxCloses all applications on current desktop.xx
Comment[zh_CN]=Closes all applications on current desktop.
Comment[zh_TW]=Closes all applications on current desktop.
Type=Service
Icon=closer

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_closer
X-KDE-PluginInfo-Author=Michal Kimle
X-KDE-PluginInfo-Email=kimle.michal@gmail.com
X-KDE-PluginInfo-Name=closer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

